<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Flask</title>
  </head>
  <body>
    <nav>
      <ul>
        <!-- {{ }} is for inserting content (in this case, straight into the href) -->
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>

    <!-- {% %} is for elements which affect the flow of the page -->
    <!-- The lines below create a template which can be inserted into other similar pages to avoid repetitiveness -->
    {% block content %}
    {% endblock %}

  </body>
</html>
